################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BookProject/obj
/BookProject/bin/Debug/net6.0
/BookProject/wwwroot/lib
/BookProject/bin/Release/net6.0
/BookProject/wwwroot/BookDetails/BookPdf
/BookProject/wwwroot/BookDetails/GalleryPhotos
/BookProject/wwwroot/BookDetails/CoverPhotos
