################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BookProject/obj
/BookProject/bin/Debug/net6.0
