@model BookProject.Models.ChangePassword

@{
    ViewData["Title"] = "ChangePassword";
}
<html>
    <head>
        <link href="~/css/main-form.css" rel="stylesheet" />    
    </head>
    <body>
    <div style="text-align:center;">

        <h4 style=" padding:20px; margin:0px;">Change Password</h4>
    </div>
    <hr />
    <div class="row">
        <div class="container-50w">
            @if (ViewBag.isSuccess==true){
                <div class="alert alert-success" role="alert">
                    Password has been updated Successfully.
                </div>
            }
            <form asp-action="ChangePassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CurrentPassword" class="control-label"></label>
                    <input asp-for="CurrentPassword" class="form-control" />
                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NewPassword" class="control-label"></label>
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn-custom" />
                </div>
            </form>
           
            
            <div class="form-group">
                <form action="@ViewBag.returnUrl">
                    <button onclick="/" class="btn-dngr">Back</button>
               </form>
             </div>
    </div>
    </body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
