@model BookProject.Models.NewUserModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>signup</title>
    <link href="~/css/main-form.css" rel="stylesheet" />
    <link rel="icon" href="~/images/logo2.png" type="image/x-icon">
    @*<link href="~/css/site.css" rel="stylesheet" />*@
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div style="text-align:center;">
    
<h4 style="background-color:#54bab9; padding:20px; margin:0px;">Sign Up</h4>
</div>
<hr />
<div class="row">
      <div class="container-50w">  
          <form asp-action="signup" method="post" asp-controller="user">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         
                        <div class="form-group">
                            @*<label asp-for="name" class="control-label"></label>*@
                            <input asp-for="fname" class="form-control" placeholder="Full Name"/>
                            <span asp-validation-for="fname" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            @*<label asp-for="name" class="control-label"></label>*@
                            <input asp-for="phone" class="form-control" placeholder="Contact No." />
                            <span asp-validation-for="phone" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                           @* <label asp-for="email" class="control-label"></label>*@
                            <input asp-for="email" class="form-control" placeholder="Email Address"/>
                            <span asp-validation-for="email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            @*<label asp-for="password" class="control-label"></label>*@
                            <input asp-for="password" class="form-control" placeholder="Password" />
                            <span asp-validation-for="password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                           @* <label asp-for="confirmpassword" class="control-label"></label>*@
                            <input asp-for="confirmpassword" class="form-control" placeholder="Confirm Password"/>
                            <span asp-validation-for="confirmpassword" class="text-danger"></span>
                        </div>
                   
                        <div class="form-group">
                            <input type="submit" value="Submit" class="btn-custom" />
                        </div>
                    </form>
                    <div style="text-align:center;">
                        <form asp-route="homepage">
                            <button onclick="/" class="btn-dngr" >Go to Home</button>
                        </form>   
                    </div>

     </div>   
 
</div>
    <div style="text-align:center;margin-top:15px">
        <p>Already have an account? <a asp-route="login" asp-route-returnUrl="/">LOG IN</a></p>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
<script src="~/lib/jquery/jquery.js"></script>
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/jquery-validate/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script src="~/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
	<script>
		function myComplete(){
			alert("Completed");
		}
		
		function mySuccess(){
			alert("Succeed");
		}
		
		function myFailure(){
			alert("Failed");
		}
	</script>
</html>
