
    <footer class="border-top footer"  style="background:#54bab9;bottom:0;>   
        <p style="text-align:center">
            &nbsp; &copy;SoftoGen Solutions - @DateTime.Now.Year
        </p>
    </footer>