<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] | SoftoGen Solutions</title>

@*    <environment include="Development">
        <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    </environment>*@

    <link rel="icon" href="./images/up.png" type="image/x-icon">
    <link href="~/css/site.css" rel="stylesheet" />
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <partial name="_header"/>    @*Partial View of Header*@

    @RenderSection("Breadcrumb",required:false)         @*Breadcrumb is is only About page*@

    <main role="main" >
        @RenderBody()
    </main>

    <partial name="_footer"/>            @*Partial View of Footer*@

</body>


@*<environment include="Development">
<script src="~/lib/jquery/jquery.js"></script>
</environment>

<environment exclude="Development">
    <script src="~/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js">
    <script src="~/lib/jquery/jquery.min.js"></script>
</environment>*@
<script src="~/lib/jquery/jquery.js"></script>
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/jquery-validate/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script src="~/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>



@RenderSection("Scripts",required:false)

</html>

