<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SoftoGen Solutions</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body class="custom">
    <header>
       @* <p>Today: @DateTime.Now.ToString("dd MMM, dddd")</p>*@
       <!-- Just an image -->
   
   
    </header>
    <div>
        
        @RenderBody()
    </div>
    <footer class="jumbotron">&copy;SoftoGen Solutions</footer>
</body>
<script src="~/lib/jquery/jquery.js"></script>
</html>
