@model IEnumerable<BookProject.Models.BookModel>
@{
    ViewData["Title"] = "All Books";
    ViewData["allb-active"] = "nav-guys-active";
}
<div class="py-5 bg-light">
<div class="container">
    <div class="row">
        <h1 class="display-4 ">All Books</h1>
        <hr />
        @foreach(var books in Model)
        {
                <div class="col-md-4">
                    <partial name="_BookCard" model="@books"/>
                </div>
        }
    </div>
</div>
</div>
 @section Breadcrumb
  {
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="../#">Home</a></li>
                <li class="breadcrumb-item"><a href="../Book/AllBooks">All Books</a></li>              
            </ol>
        </nav>
  }   